doctype html
html
  head
    title= title || 'College Food'

    //- Meta
    meta(name='viewport', content='initial-scale=1.0,width=device-width')
    meta(charset='utf-8')

    block extra_meta

    //- Styles
    link(rel='stylesheet', href='/public/lib/normalize-css/normalize.css')
    block extra_styles

  body
    block content

    //- Scripts
    block extra_scripts
